.converter
{
    text-align: center;
    padding: 20px;
    margin: 10% 25%;
    background-color: rgb(43,107,168);
    opacity: 95%;
}
input
{
    margin-top: 20px;
    text-align: center;
    display: flex;
    width: 35%;
    margin-left: 250px;
    height: 20px;
}
button
{
        margin:20px;
        color: white;
        width: 60px;
        background-color:darkblue;
}
h2 {
    color: white;
}
.arrow
{
    padding: 2px;

    width: 60px;
    height: 40px;
}